/* -----------------------   Header [start]   ----------------------- */
body{
    margin: 0;
}
header{
    overflow: hidden;
    background-color: #1B3764; 
    padding: 20px 10px; 
}

header a,header img {
    float: left;
    padding: 18px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

header a.activePage {
    font-size: 25px;
    font-weight: bold;
}

header img.logo{
    width: 50px;
    line-height: 0px;
    padding: 9px;
}

header a:hover {
    background-color: #FFCA42;
    color: black;
}

.header-right {
    float: right;
}


@media screen and (max-width: 555px) {
    header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
    header img.logo{
        padding: 9px;
        line: height 25px;
    }
    
}

/* -----------------------   Header [end]   ----------------------- */


#Search-book {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #Search-book  .Search-bar {
    margin-bottom: 20px;
  }
  
  #Search-book .Search-bar input[type="search"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
  }
  
  #Search-book .book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #Search-book .book {
    max-width: 300px;
    width: calc(33.33% - 20px);
    margin: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #Search-book .book-image {
    height: 200px;
    background-position: top center;
    background-size: cover;
    margin-bottom: 10px;
  }
  #Search-book .book h2 {
    font-weight: bold;
    margin-top: 0;
  }
  
  #Search-book .book p {
    margin-bottom: 10px;
  }

/* -----------------------   Footer [start]   ----------------------- */

footer {
    background-color: #1B3764;
    color: #fff;
    padding: 20px 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.column {
    flex: 1;
    padding: 0 20px;
}
.column h2 {
    font-size: 18px;
    color: #FFCA42;
}
.column ul {
    list-style-type: none;
    padding: 0;
}
.column ul li {
    margin-bottom: 10px;
}
.column a {
    color: #fff;
    text-decoration: none;
}

/* -----------------------   Footer [end]   ----------------------- */