/* -----------------------   Header [start]   ----------------------- */
body{
    margin: 0;
}
header{
    overflow: hidden;
    background-color: #1B3764; 
    padding: 20px 10px; 
}

header a,header img {
    float: left;
    padding: 18px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

header a.activePage {
    font-size: 25px;
    font-weight: bold;
}

header img.logo{
    width: 50px;
    line-height: 0px;
    padding: 9px;
}

header a:hover {
    background-color: #FFCA42;
    color: black;
}

.header-right {
    float: right;
}


@media screen and (max-width: 555px) {
    header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
    header img.logo{
        padding: 9px;
        line: height 25px;
    }
    
}

/* -----------------------   Header [end]   ----------------------- */


/* -----------------------   randomBook.book [start]   ----------------------- */

 #book {

    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 1200px;
    margin-inline: auto;
}

.book-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.book-left .info-line {
    display: flex;
}

.book-left .info-line h3 {
    margin-right: 20px;
}

.book-right {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.book-right img {
    width: 60%;
} 

/* -----------------------   randomBook.book [end]   ----------------------- */

/* -----------------------   randomBook.author [start]   ----------------------- */

#author {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 1200px;
    margin-inline: auto;
}

.author-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.author-right .info-line {
    display: flex;
}

.author-left {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.author-left img {
    width: 60%;
}

.author-right .info-line {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
}

.author-right .info-item h3 {
    font-size: 2rem;
    color: #446688;
    margin-bottom: 5px;
}

.author-right .info-item p {
    font-size: 1.2rem;
    color: #666;
}

.author-right .info-item:not(:last-child) {
    margin-right: 20px;
    border-right: 3px solid #FFCA42;
}


.author-btn {
    background-color: #FFCA42;
    color: #446688;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.author-btn:hover {
    background-color: #334d66;
    color: #FFCA42;
}

/* -----------------------   randomBook.author [end]   ----------------------- */

/* -----------------------   randomBook.comment [start]   ----------------------- */

#comments {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin-inline: auto;
}

#comments .info-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#comments .info-item:not(:last-child) {
    width: 50%;
    border-bottom: 1px solid #ccc;
}

#comments .info-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}

#comments .info-item h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

#comments .info-item h2 {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

#comments .info-item p {
    font-size: 14px;
    color: #999;
}

#comments .comment-btn {
    background-color: #FFCA42;
    color: #446688;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#comments .comment-btn:hover {
    background-color: #334d66;
    color: #FFCA42;
}


/* -----------------------   randomBook.comment [end]   ----------------------- */

/* -----------------------   Footer [start]   ----------------------- */

footer {
    background-color: #1B3764;
    color: #fff;
    padding: 20px 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.column {
    flex: 1;
    padding: 0 20px;
}
.column h2 {
    font-size: 18px;
    color: #FFCA42;
}
.column ul {
    list-style-type: none;
    padding: 0;
}
.column ul li {
    margin-bottom: 10px;
}
.column a {
    color: #fff;
    text-decoration: none;
}

/* -----------------------   Footer [end]   ----------------------- */